section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5rem;
  width: 50%;
  padding: 5vw 10vw;
  border-radius: 3rem;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.question {
  width: 320px;
  color: white;
}

span {
  font-size: 2rem;
}

.questionText p {
  font-size: 1.2rem;
}

.answer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 30vw;
}

button {
  padding: .7rem;
  border-radius: 1rem;
  border: none;
  text-align: start;
  background-image: linear-gradient(to right,  #4ca1af, #2c3e50);
}

@media (max-width:768px) {
  .card {
    flex-direction: column;
  }

  .question {
    width: unset;
  }

  .answer {
    width: 100%;
  }
}